@model RxTracker.ViewModels.Transaction.ListViewModel

<div class="container">
  <input type="hidden" id="View" value="Transaction" />
  <button type="button" id="btnCreate" class="btn btn-primary">Add New Transaction</button>
  <div class="row">
    <div class="col-5">
      <table class="table table-sm table-striped table-hover table-responsive">
        <thead>
          <tr>
            <th>Drug</th>
            <th>Trade Name</th>
            <th>Date</th>
            <th>Pharmacy</th>
          </tr>
        </thead>
        <tbody id="listBody">
          @foreach (var transaction in Model.TransactionList)
          {
          <tr data-id="@transaction.TransactionId">
            <td>@transaction.DrugName</td>
            <td>@transaction.TradeName</td>
            <td>@transaction.DateFilled</td>
            <td>@transaction.Pharmacy</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div id="partialView" class="col-7"></div>
  </div>
</div>
